{% extends "layout.html" %}
{% block body %}
<!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>About</li>
        </ol>
        <h2>About</h2>
       

      </div>
    </section>
<!-- End Breadcrumbs -->
<section class="inner-page"> 
  <!-- ======= About Us Section ======= -->
    <div class="container">
        <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
          <h3 style="color:  darkblue;"> COMPUTER SOCIETY OF INDIA <br>CSI-UMIT</h3>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <ul>

            <p><li><i class="ri-check-double-line"></i>
              Formed in the year 1965, the Computer Society of India is the first and the largest body of computer professionals in India.Today,  CSI has <b>72</b> chapters all over India, <b>511</b> student branches, and 
                <b>more than 100,000</b> members.
              </li>
            </p>
            <br>
            <p><li><i class="ri-check-double-line"></i>
            The CSI UMIT chapter was formed in 1998 and it has been instrumental in providing students with wholesome technical experience. The past <b>17 years</b> stand witness to <b>numerous students</b> of the institute benefit from this association.</li>
          </p>
          <br>
          <p><li><i class="ri-check-double-line"></i>
            Every year we conduct <b>fests, workshops, industrial visits and seminars</b> to keep the students updated about the ever-evolving technology. We also publish a yearly technical magazine called <b>‘Paradigm’.</b>
CSI UMIT has been an active part of <b>TechNext</b> India an annual academic national conference and awards for academia, organized by CSI Mumbai chapter and hosted by IIT Bombay.</li></p>

             <p><li><i class="ri-check-double-line"></i>
              In the last academic year, we had organized a workshops on <b>Cyber Security</b> and <b>R Programming</b>.</li>
            </p>

            </ul>

            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <ul>
        
            <p><li><i class="ri-check-double-line"></i>
              The major spectacle organized by the council is the annual inter-collegiate technical fest <b>‘Abhivyakti’</b>. Abhivyakti stands for <b>‘expression’</b>, thus giving the students a platform of opportunities to express their talent in both technical as well as cultural aspects. They get to widen their horizons by participating in technical as well as non-technical events and compete against their fellow college-mates along with students from various other engineering institutes in this city.</li>
            </p>

            <br>

            <p><li><i class="ri-check-double-line"></i>
              The theme for <b>ABHIVYAKTI 2019</b> was 
              <b>“AGNIFROST“</b> which translates to the amalgamation of fire and ice. The theme is inspired by the legendary Game Of Thrones series. </li>
            </p>

            <br>

            <p><li><i class="ri-check-double-line"></i>
              Apart from this, we organized an industrial visit to 
              <b>Chennai-Mahabalipuram-Pondicherry-Auroville</b> where we visited the at Integra Software Services Pvt. Ltd</li>
            </p>
          </ul>
            
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
    </div>
</section>
{% endblock %}
